/* Collection name: My Colors */
/* Mode: Mode 1 */
:root {
  --gray-50: #f2f2f2;
  --gray-100: #d9d9d9;
  --gray-200: #bfbfbf;
  --gray-300: #a6a6a6;
  --gray-400: #8c8c8c;
  --gray-500: #808080;
  --gray-600: #737373;
  --gray-700: #595959;
  --gray-800: #404040;
  --gray-900: #242424;
  --gray-950: #1a1a1a;
  --morado-50: #f2ebf9;
  --morado-100: #d8c4ee;
  --morado-200: #be9ce2;
  --morado-300: #a475d7;
  --morado-400: #8a4dcb;
  --morado-500: #7d39c6;
  --morado-600: #7034b2;
  --morado-700: #57288a;
  --morado-800: #3e1d63;
  --morado-900: #25113b;
  --morado-950: #190b28;
  --amarillo-50: #fffde5;
  --amarillo-100: #fffab3;
  --amarillo-200: #fff680;
  --amarillo-300: #fff134;
  --amarillo-400: #ffef1a;
  --amarillo-500: #ffed00;
  --amarillo-600: #e6d600;
  --amarillo-700: #b3a600;
  --amarillo-800: #807700;
  --amarillo-900: #4d4700;
  --amarillo-950: #332f00;
  --azul-50: #ebe9fb;
  --azul-100: #c3bdf4;
  --azul-200: #9c92ed;
  --azul-300: #7466e6;
  --azul-400: #5544e0;
  --azul-500: #3824db;
  --azul-600: #3321c5;
  --azul-700: #271999;
  --azul-800: #1c126d;
  --azul-900: #110b42;
  --azul-950: #0b072c;
}

:root{
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
}