
@use 'primitives' as *;

// SOBRE ESCRIBE BOOTSTRAP
$primary :  rgb(255, 237, 0) ; 
$secondary: rgb(124, 58, 197);
$success:   rgb(137, 193, 62);
$info:      rgb(46, 203, 214);
$warning:   rgb(255, 129, 26);


// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// ---- SEMANTIC COLORS ------

// PILLS AND BADGES
