
// Estilos generales de secciones

section{
    overflow: hidden;
}

// Header

#header.transparent {
    background-color: rgb(255 255 255 / 9%);
    backdrop-filter: blur(10px);
      padding: .5rem;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: .5rem;
  background-color: rgba(62, 29, 99, 0);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.header-logo{
    svg{
        height: 55px;

          // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
            height: 63px;
            
        }
    }
    
}



.My-Nav{
   

    .nav{

        display: flex;
        align-content: center;
         align-items: center;
        gap: 9px;
        border-radius: 40px;
        background-color: hsla(268.78, 55.06%, 34.9%, 0.31);
        padding: 15px 10px;
        

         // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
            display: flex;
            align-content: center;
            align-items: center;
            gap: 31px;
            border-radius: 50px;
            background-color: hsl(268.78deg 55.06% 34.9% / 31%);
            padding: 15px 30px;
        }

            

    }

    .nav-link {

        --bs-nav-link-color : #fff;
        --bs-nav-link-font-weight: 300;
        --bs-nav-link-font-size: 1rem;

        display: block;
        padding: 8px 16px;
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: var(--bs-nav-link-color);
        text-decoration: none;
        background-color: var(--morado-700);
       
        border-radius: 40px;

        &:hover{
            background-color:  var(--morado-800);
            outline-style: solid;
            animation: animateOutline 4s ease infinite;

            @keyframes animateOutline {
                0% {
                  outline-width: 1px;
                  outline-offset: 0;
                  outline-color:  var(--morado-600);
                }
              
                10% {
                  outline-color:  var(--morado-100);
                }
              
                /* The animation finishes at 50% */
                50% {
                  outline-width: 1px;
                  outline-offset: 2px;
                  outline-color:  var(--morado-300);
                }
              
                100% {
                  outline-width: 2px;
                  outline-offset: 3px;
                  outline-color:  var(--morado-600);
                }
              }

        }

        &.active{
                background-color: #f3d2ff;
                border: 2px solid;
                border-color: var(--amarillo-500);
                color: var(--morado-700);
                font-weight: 500;
            
        }
   }
}


// HERO
.s-hero {
    background-color: var(--morado-500);
    background: url("../images/hero-mobile.jpg");
    background-blend-mode: normal;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 85vh;
    padding-top: 95px;
    

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        background-color: var(--morado-500);
        background: url("../images/hero4.jpg");
        background-position-y: -110px;
        background-position-X: 0px;
   
    }

    .hero-text{

        position: absolute;
        top: 120px;
        

         // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
        position: absolute;
        bottom: 273px;
 
      }

    }
    
}

.s-hero-galeria{
    background-color: var(--morado-800);
    // background: url("../images/hero-mobile.png");
    // background-blend-mode: normal;
    // background-repeat: no-repeat; 
    // background-size: cover;
    height: 40vh;
    padding-top: 100px;
    

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        background-color: var(--morado-800);
        // background: url("../images/hero3.png");
        // background-position-y: -110px;
        // background-position-X: 0px;
   
    }

    .hero-text{

        position: absolute;
        top: 100px;

         // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
        position: absolute;
        top: 140px;
 
      }

    }
    
}



// SERVICIOS

.s-servicios{
    background-color: var(--gray-50);
    padding-top: 90px;
    padding-bottom: 100px;
    
}

.box-servicio{
    background-color: var(--amarillo-50) ;
    border-radius: 20px;

    .icon-bg{
        width: 66px;
        height: 58px;
        border-radius: 7px;
        background-color: var(--morado-600);
        

        i{font-size: 1.5rem; color: var(--amarillo-500);}

        img{
            width: 100%;
        }

    }
}

.s-nosotros{
    

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        height: 60vh;
    }

    .wrapper{
        height: 100%;
    }
    .AboutUsPhoto{
        height: 300px;
         background-image: url("../images/girl.png");
         background-repeat: no-repeat; 
         background-size: cover;

         // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
            height: 100%;
        }
    }

    .AboutUsText{
        height: 100%;
    }
}


.s-confianza{
    background-color: var(--gray-50);
    padding-top: 100px;
    padding-bottom: 100px;

    .confianzaPhoto{
        overflow: hidden;
  
        img{
            border-radius: 20px;
            width: 100%;
            
        }

    }

    .confianzaText{
        height: 100%;

        i{font-size: 1.5rem; color: var(--morado-600); margin-bottom: 20px;} 

    }

    

}


.s-clientes{

    padding: 20px;

     // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        padding-top: 100px;
        padding-bottom: 100px;
    }

    


     .box-clientes{
        background-color: #fff;
        border-radius: 30px;

     }

     .client-circle{
        background-color: #fff;
        border-radius: 100px;
        width: 100%;
        height: auto;
        text-align: center;
        overflow: hidden;
        margin-bottom: 20px;

        img{
            width: 90%;
            margin-top: 20px;
        }
     }
}


.s-contactanos{
    background-color: var(--morado-500);
    padding-top: 100px;
    padding-bottom: 100px;

    .box-contactanos{
        color: #fff;
        i{font-size: 1.5rem; color: var(--amarillo-500); margin-bottom: 20px;}

    }

    .box-form{
        padding: 20px;
        border-radius: 20px;
        border: 5px solid #FFF134;
        background: #FFF;
    }
}

// whatsapp

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.whatsapp-float img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s;
}

.whatsapp-float img:hover {
  transform: scale(1.1);
}


.s-galeria{
    .card-img-top {
    transition: transform 0.3s ease;
    cursor: pointer;
    }

    .card-img-top:hover {
        transform: scale(1.03);
    }

    .badge {
        margin-right: 5px;
        font-size: 0.8rem;
    }
}
// .s-footer{
//     background-color: gray;
//     height: 300px;
// }