.b-morado{ background-color: var(--morado-500);}

.b-amarillo{ background-color: var(--amarillo-500);}

.p-5{ padding: 5px;}
.p-10{ padding: 10px;}
.p-20{ padding: 20px;}
.p-40{ padding: 40px;}
.p-60{ padding: 60px;}


.gradient-1{
     background: linear-gradient(209deg, #2472FC -29.55%, #8711C1 99.35%);
}

.shadow-1{
     box-shadow: 4px 6px 8px 0px #3c106b;
}